.GroupHeader {
  display: grid;
  grid-template-columns: 1fr 100px;
  padding: 1rem;
  /* background-color: #00bfa5; */
  background-color: #2a2f32;
  color: #898e91;
  height: 64px;
}
.GroupHeader span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.GroupHeader span div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0.5rem;
  color: white;
  text-transform: capitalize;
  height: 100%;
}
.GroupHeader span div span:nth-child(2) {
  color: greenyellow;
  text-transform: none;
}
.GroupFlex {
  display: flex;
  /* justify-content: space-between; */
  justify-content: flex-end;
  color: white;
  font-weight: bold;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
}
